/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden text-lg;
}

@font-face {
	font-family: 'Cormorant Variable';
	src: url('/fonts/cormorant/Cormorant-VariableFont_wght.ttf');
}

:root [data-theme='crimson'] {
	--theme-font-family-base: 'Cormorant Variable', sans-serif;
	--theme-font-family-heading: 'Cormorant Variable', sans-serif;
}
